// Main.scss

.main-container {
  border: 4px solid #B5A28C;
  padding: 10px;
  border-radius: 10px;
}

.form-container {
  margin: 10px;
}

.submit-button {
  background-color: #B5A28C;
  color: white;
  border: none;
}

.submit-button:hover {
  background-color: #97876c;
}

// Add more styles as needed...
