.container {
  border: 4px solid #b5a28c;
  padding: 10px;
  border-radius: 10px;
}

.button-submit {
  background-color: #b5a28c;
  color: white;
  border: none;
}

.topic-field {
  border: 4px solid #b5a28c;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}
.main-container {
  border: 4px solid #B5A28C;
  padding: 10px;
  border-radius: 10px;
}

.col-container {
  padding: 35px;
}