.main-form {
    margin: 10px;
  }
  
  .main-button {
    background-color: #B5A28C;
    color: white;
    border: none;
  }


  .main-border {
    border: 4px solid #B5A28C;
    padding: 10px;
    border-radius: 10px;
  }

  .tab-active {
    background-color: gray;
  }